<!DOCTYPE html>
<html>
<head>
    <title>Nucleo Sonography</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <script src="./elements.js"></script>
    <script src="./spectra.js"></script>
    <style>
        .controls {
            position: relative;
            top: 1em;
            left: 20em;
            width: 10em;
            height: 3em;
        }

        svg {
            background: black;
        }
    </style>
</head>
<body ng-app ng-controller="SpectraCtrl">

<div>
  <a href="https://github.com/DavidSouther/nucleosonography/blob/gh-pages/README.md">About</a>

  <label for="volume">Volume ({{gain.value | number:2 }})</label>
  <input
      name="valume"
      type="range"
      min="0"
      max="{{maxGain}}"
      step="0.01"
      ng-model="gain.value"
  />

  <label for="max_gain">Max Gain</label>
  <input type="number" min="0.1" max="0.25" step="0.01" ng-model="maxGain" />

  <b><a href="#" ng-click="stop()">Stop!</a></b>

  <label for="formula">Chord</label>
  <input type="text" name="formula" ng-model="formula" />
  <button ng-click="chord(formula)">Play!</button>
</div>
<table border="1">
    <tr ng-repeat="period in periods">
        <td
            ng-repeat="number in period"
            colspan="{{number.skip}}"
        >
            <div class="element"
                ng-hide="number.skip > 0"
                ng-init="symbol = elements.by.number[number]; lines = spectra[symbol];"
            >
                <!-- <span class="number" ng-bind="{{ group }}"></span>
                <span class="symbol">{{ elements.by.number[group] }}</span> -->

                <a ng-href="#{{symbol}}" ng-name="{{symbol}}" ng-click="play(symbol)"
                >{{number}}&nbsp;{{symbol}}</a>,&nbsp;{{ elements.by.symbol[symbol].name }}
                <svg width="100px" height="18px">
                   <rect ng-repeat="line in lines.lines" y="0" ng-attr-x="{{vscale(line[0])}}"
                    ng-attr-fill="hsl( {{ vscale(line[0]) / 200 * 256 }}, 100%, 50%)"
                    height="18px" width="1px" stroke-width="0"
                    />
                </svg>

            </div>
        </td>
    </tr>
</table>

<footer>
    &copy; 2014 <a href="http://davidsouther.com">David Souther</a> |
    <a href="http://github.com/DavidSouther/nucleosonography">Source</a>
</footer>

<script>

var l12 = Math.pow(2, 1/12);
function nearestPitch(frequency){
    var i = -36, q;
    while((q = 440 * Math.pow(l12, i++)) < frequency){}
    return q;
}

function SpectraCtrl($scope, $window){
    $scope.elements = $window.Elements;
    $scope.spectra = $window.spectra;

    $scope.periods = [];

    var period = 1, groups = [];
    for(var i = 1; i <= 118 ; i++ ) {
        if ( $scope.elements.period(i) > period ) {
            $scope.periods.push(groups);
            groups = [];
            period += 1;
        }

        groups.push(i);
        if (i == 1) {
            groups.push({skip: 16});
        }
        if ( i == 4 || i == 12) {
            groups.push({skip: 10});
        }
        if ( i == 56 || i == 88) {
            groups.push({skip: 1});
            i += 15;
        }
    }
    $scope.periods.push(groups);
    $scope.periods.push([{skip: 18}]);

    groups = [{skip: 2}];
    for( i = 57; i <= 71; i++) { groups.push(i) }
    groups.push({skip: 1});
    $scope.periods.push(groups);
    groups = [{skip: 2}];
    for( i = 89; i <= 103; i++) { groups.push(i) }
    groups.push({skip: 1});
    $scope.periods.push(groups);


    var AC = AudioContext || window.webkitAudioContext || window.mozAudioContext;
    var context = new AC();
    var masterVolume = context.createGain();
    masterVolume.gain.value = 0.15;
    masterVolume.connect(context.destination);

    $scope.maxGain = 0.25;
    $scope.gain = masterVolume.gain;

    var playing = [];

    var connectFrequency = function(frequency, gain){
        var oscillatorNode, gainNode;
        gainNode = context.createGain();
        gainNode.gain.value = gain;
        gainNode.connect(masterVolume);

        oscillatorNode = context.createOscillator();
        oscillatorNode.frequency.value = nearestPitch(frequency);
        oscillatorNode.connect(gainNode);

        return oscillatorNode;
    }

    playElement = function(element){
        var i, osc, gain;
        var lines = $scope.spectra[element].lines;
        var notes = {};
        lines.reduce(function(notes, line){
            var nearest = nearestPitch(line[0] / 10);
            notes[nearest] = notes[nearest] || {
                count: 0,
                intensity: 0
            };
            notes[nearest].count++;
            notes[nearest].intensity += line[1];
            return notes;
        }, notes);

        for(var pitch in notes){
            osc = connectFrequency(pitch, notes[pitch].intensity / notes[pitch].intensity);
            playing.push(osc);
            osc.start();
        }
    }

    $scope.vscale = function (freq) {
        return ((freq - 3800) / 3700) * 200;
    };

    $scope.play = function(element){
        $scope.stop();
        playElement(element);
    }

    var rchem = /([A-Z][a-z]{0,2})([0-9]*)?/g
    $scope.chord = function(formula){
        var parts = {}, total, arr;
        while((arr = rchem.exec(formula)) !== null){
            parts[arr[1]] = arr[2] || 1;
            total += parts[arr[1]];
            playElement(arr[1]);
        }
    }

    $scope.stop = function(){
        var i = playing.length;
        while(--i >= 0){
            playing[i].stop();
            playing[i] = null;
        }
        playing.length = 0;
    }

    var hash = ($window.location.hash.match(/#.*([A-Z][a-z]?)/)||'')[1]
    if($scope.spectra[hash]){
        $scope.play(hash);
    }
}

</script>
</body>
